# 3.5 Tuples

A tuple is a sequence of __immutable__ Python objects. By __immutable__, it means that tuples __CANNOT__ be changed once created. They hold an __ordered__ collection of values which can be of any type.

- Tuples are sequences, just like lists. The difference between tuples and lists is, as mentioned above, tuples cannot be changed unlike lists. Also, tuples use parentheses whereas lists use square brackets.

- Tuples can be expanded into variables easily. In assigning values, you may also ommit the paretheses. 

See examples below:

In [ ]:
tuple1 = ('apple', 'banana', 2012, 1993)
tuple2 = (1, 2, 3, 4, 5 )
tuple3 = "a", "b", "c", "d"

You may create an empty tuple like this:

In [ ]:
tuple1 = ()

To write a tuple containing a single value you have to include a comma, even though there is only one value:

In [ ]:
tuple1 = (50,)

Like string indices, tuple indices start at 0, and they can be sliced, concatenated, and so on.

## Try it yourself! 

Create a tuple named __`sample_tuple`__ and assign the values: `Pikachu, Jigglypuff, Psyduck,` and `Ratata`

In [ ]:
# Write your code below


## 3.5.1 Accessing Values in a Tuple

In accessing values in a tuple, it is also similar to other data types such as lists. Use the square brackets for slicing along with the index or indices to obtain value available at that index.

Run the examples below:

In [ ]:
tuple1 = ('P','y','t','h','o','n')

tuple1[0]

In [ ]:
tuple1 = ('P','y','t','h','o','n')

tuple1[0:3]

## Try it yourself: Accessing values in a Tuple

Access and `print` the value 'Pokemon' in the tuple below.

In [ ]:
anime = ("Bleach", "Dragon Ball Z", "Naruto", "Pokemon", "Doraemon")

# Write your code below:

## 3.5.2 Methods

Since tuples are immutable (cannot be changed), there are fewer methods available.

### `len()`

> The method `len()` returns the number of elements in the tuple.

For example:

In [ ]:
# Run the Code
my_tuple = (1, 2, 3, 4, 5)

len(my_tuple)

## Try it yourself: `len()`

Display the number of elements in tuple `random_integers`:

In [ ]:
random_integers = (89, 41, 22, 12, 67, 96, 53, 36, 17, 19, 44,\
                   69, 33, 82, 5, 35, 72, 25, 68, 56, 8, 40, 43,\
                   83, 59, 51, 20, 47, 77, 99, 90, 91, 2, 37, 95,\
                   78, 87, 100, 30, 27)

# Write your code below

### `count()`

> The method `count()` returns count of how many times the `obj` occurs in tuple.

For example:

In [ ]:
# Run the code
my_tuple = ('apple', 'banana', 'apple', 'orange','banana');

my_tuple.count('apple')

## Try it yourself: `count()`

Display how many times `23` occured in the tuple.

In [ ]:
random_integers2 = (34, 60, 80, 69, 83, 6, 87, 51, 27,
                     11, 26, 30, 93, 18, 76, 74, 66, 33,
                     55, 14, 23, 10, 61, 63, 73, 72, 52,
                     47, 15, 28, 78, 67, 71, 46, 1, 89, 13,
                     3, 35, 5, 54, 84, 25, 95, 94, 42, 96,
                     49, 31, 59)

# Write your code below:

Print how many lowercase 'a' are there in the tuple named `letter_a`.

In [ ]:
letter_a = ('a','a','d','c','a','o','q','a','d','a','q','d','q','a')

# Write your code below:

### `index()`

> The method `index()` returns the __lowest index__ in a tuple that the `obj` appears.

For example:

In [ ]:
# Run the code
my_tuple = ('apple', 'banana', 'apple', 'orange','banana');

my_tuple.index('banana')

## Try it yourself: `index()`

Display on which index did `88` appeared.

In [ ]:
random_integers3 = (28, 85, 63, 49, 97, 54, 52, 70,
                    15, 71, 53, 100, 34, 32, 7, 44,
                    78, 17, 57, 55, 91, 47, 31, 22,
                    11, 67, 2, 4, 88, 64, 27, 75, 79,
                    87, 99, 26, 39, 20, 3, 45, 93, 19,
                    84, 82, 35, 6, 62, 14, 58, 36)

# Write your code below